body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/FyadlqO.jpg");
}

#container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img1 {
  border-radius: 2.5em;
}

.button {
  position: relative;
  width: 10em;
  height: 4em;
  left: 3.8em;
  top: -1em;
}
