a:hover {
  color: rgb(201, 255, 5);
}

.copyright {
  position: relative;
  border: solid 2px red;
  display: inline-block;
  width: 55em;
  left: 34.3em;
}

.cоntainer {
  background-color: black;
  position: relative;
  height: 1.5em;
  top: 0.2em;
}

/* 装飾 */

button {
  color: #fff;
  background: #5876a3;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  * {
    float: none;
    position: static;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.invoice {
  background-color: black;
}


/*枠デザイン*/
.profile_box {
  margin: 2em 0;
  background: #dcefff;
  /*内容の背景色*/
}

.profile_box .box-title {
  font-size: 18px;
  line-height: 1.8;
  background: #5fb3f5;
  /*タイトルの背景色*/
  padding: 4px;
  text-align: center;
  color: #FFF;
  /*文字色*/
  font-weight: bold;
  letter-spacing: 0.05em;
}


/*内容*/

.profile_center {
  text-align: center;
  margin: 10px 15px 0 0;
}


/*プロフィール画像*/

.profile_figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /*丸くする*/
  border: solid 3px #5fb3f5;
  /*枠線*/
}


/*名前*/

.profile_name {
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
}


/*自己紹介文*/

.profile_box p {
  padding: 15px 20px;
  margin: 0;
}

/*リスト*/

.profile_box ul {
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}

.profile_box ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}

.profile_box ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "";
  /*アイコンの種類*/
  font-weight: 900;
  position: absolute;
  left: 1em;
  /*左端からのアイコンまでの距離*/
  color: skyblue;
  /*アイコン色*/
}


.text {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 1.5;
}

.div {
  margin-top: 10px;
  padding: 20px;
  background-color: #000000;
}

#container
* {
  box-sizing: border-box
}
  

.div2 {
  margin-top: 5px;
  padding: 20px;
  background-color: #000000;  
}
  /* スマートフォン用のスタイル */
@media screen and (max-width: 480px) {
  /* ここにスマートフォン用のCSSを記述 */

  .test {
    font-size: 2em;
  }

  .test1 {
    font-size: 2em;
  }

  .test2 {
    font-size: 3em;
  }

  .test3 {
    font-size: 0.8em;
  }

  .test4 {
    font-size: 0.54em;
  }

  .test5 {
    font-size: 0.8em;
  }

  table {
    font-size: 0.415em; /* テーブルの文字サイズを0.415emに変更 */
    width: 60%; /* テーブルの幅を60%に変更 */
  }

  iframe {
    width: 360px;
    height: 300px;
  }

  .test6 {
    font-size: 0.47em;
    text-align: center; /* 親要素に対してtext-align: center;を適用 */
  }

  .copyright {
    text-align: center; /* コピーライトを中央に配置する */
    position: relative;
    border: solid 2px red;
    display: inline-block;
    width: 21.7em;
    height: 5.5em;
    left: 0.1em;
  }
  
  .copyright font {
    font-size: 0.9rem; /* コピーライトのフォントサイズを0.9remに変更 */
  }

  .test8 {
    position: relative;
    left: 0.01em;
  }
  
  .test9 {
    position: relative;
    left: 0.005em;
  }

  .menu li {
    white-space: nowrap; /* テキストを折り返さないようにする */
    font-size: 0.853em;
    display: inline-block;
    margin-right: 5px; /* メニュー項目間の右側のマージンを10pxに指定 */
  }

  .menu li:last-child {
    margin-right: 0; /* 最後のメニュー項目には右側のマージンを適用しない */
  }

  .menu {
    width: 100%;
    background-color: 	#2E8B57;
    overflow: hidden;
  }
  
  .menu ul {
    display: table-row;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #2e8b57;
  }
  
  ul {
    margin: 0; /* リストの余白を削除する */
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 20px
  }
  
  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }
  
  nav {
    padding-top: 5px;
    box-sizing: border-box;
  }

 

}

/* PC用のスタイル */
@media screen and (min-width: 769px) {
  /* ここにPC用のCSSを記述 */
  .test {
    font-size: 3em;
  }

  .test1 {
    font-size: 3em;
  }

  .test2 {
    font-size: 5em;
  }

  .test3 {
    font-size: 0.8em;
  }

  .test4 {
    font-size: 0.5em;
  }

  .test5 {
    font-size: 0.8em;
  }

  iframe {
    width: 650px;
    height: 550px;
  }

  table {
    font-size: 0.7em; /* テーブルの文字サイズを0.415emに変更 */
    width: 60%; /* テーブルの幅を60%に変更 */
    height: 60%;
  }

  .test6 {
    font-size: 0.65em;
  }
  
  .div3 {
    font-size: 0.65em;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #2e8b57;
  }
  
  ul {
    display: flex;
  }
  
  li {
    list-style: none;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }
  
  nav {
    padding-top: 5px;
    box-sizing: border-box;
  }

  .div3 {
    font-size: 3em;
  }
  

  }

{
 
  #image {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    border-radius: 50%;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px
  }

  .navbar {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .navbar a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

  .navbar a:hover {
    border-bottom: 3px solid #dd204e;
  }

  .navbar a.active {
    border-bottom: 3px solid #dd204e;
  }

